<div class="text-center">
  <h2>Title: {{BlogTitle}}</h2>
  <p>Date: {{date_created}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
    <button class="btn btn-primary">Add Comment</button>
  </p>
</div>
